<!DOCTYPE html>
<html>
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="resources/css/estilos-posicao.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron" style="background-image: url('resources/img/kamilookout.jpg')">
	&nbsp;
      </div>
    </div>
    <div class="container">
      <div class="row">
	<div class="col-sm-4">
	    <div class="thumbnail" id="user-avatar">
	      <img src="resources/img/goku.jpg" alt="Oi eu sou o Goku" />
	    </div>
	</div>
	<div class="col-sm-8">
	  <h1><b>Son Goku</b></h1>
	  <h2><i>O último saiyajin</i></h2>
	</div>
      </div>
      <div class="row">
	<div class="col-sm-offset-4 col-sm-8" id="main-content">
	  <article class="well well-lg">
	    <h1>Primeira postagem</h1>
	    <img src="resources/img/kamehouse.jpg" alt="Kame house"/>
	    <p>Lorem ipsum dolor sit amet, 
	      consectetur adipiscing elit. 
	      Nam a metus maximus nulla maximus tincidunt. 
	      In et odio augue. Sed placerat mauris mauris, 
	      a bibendum quam porttitor eu. Mauris imperdiet 
	      ultricies fermentum. Fusce a purus sapien. 
	      Pellentesque habitant morbi tristique senectus 
	      et netus et malesuada fames ac turpis egestas.
	    </p>
	  </article>
	</div>
	<div class="col-sm-offset-4 col-sm-8" id="main-content">
	  <article class="well well-lg">
	    <h1>Segunda postagem</h1>
	    <img src="resources/img/img01.jpg" alt="Kame house"/>
	    <p>Lorem ipsum dolor sit amet, 
	      consectetur adipiscing elit. 
	      Nam a metus maximus nulla maximus tincidunt. 
	      In et odio augue. Sed placerat mauris mauris, 
	      a bibendum quam porttitor eu. Mauris imperdiet 
	      ultricies fermentum. Fusce a purus sapien. 
	      Pellentesque habitant morbi tristique senectus 
	      et netus et malesuada fames ac turpis egestas.
	    </p>
	  </article>
	</div>
      </div>

    </div>
    <div class="container-fluid footer">
      <p class="text-center">Festival Vida Universitária Senac - <a href="http://vidauniversitariasenac.com.br/santo-amaro/">http://vidauniversitariasenac.com.br/santo-amaro/</a> - <a href="http://sp.senac.br">Senac SP</a> - 2017</p>
    </div>
  </body>
</html>
